<?xml version="1.0" encoding="UTF-8" ?>
<CONFIG>
<CDE>10.0.0.1,10.0.0.2-10.0.0.150</CDE>
<EXPOSED>
	<SNAPSHOT>
		<ID>1</ID>
		<ELEMENT>10.0.0.1,,70001,</ELEMENT>
		<ELEMENT>10.0.0.1,3389,90882,</ELEMENT>
		<ELEMENT>10.0.0.1,3389,38173,</ELEMENT>
		<ELEMENT>10.0.0.1,3389,38601,CVE-2013-2566</ELEMENT>
	</SNAPSHOT>
	<SNAPSHOT>
		<ID>2</ID>
		<ELEMENT>*,*,*,*</ELEMENT>
	</SNAPSHOT>
</EXPOSED>
</CONFIG>